<h1 style="text-align: center"> Template of ng2-charts </h1>

<div class="flex">
	<div class="flex-item">
		<div style="display: block; width: 50%; margin: 20px auto;">
			<div style="text-align: center;">
				<p> You can change Chart Types from here: </p>
				<button style="margin: 10px;" (click)="changeChartType('line')">Line</button>
				<button style="margin: 10px;" (click)="changeChartType('bar')">Bar</button>
				<button style="margin: 10px;" (click)="changeChartType('doughnut')">Doughnut</button>
				<button style="margin: 10px;" (click)="changeChartType('radar')">Radar</button>
				<button style="margin: 10px;" (click)="changeChartType('pie')">Pie</button>
				<button style="margin: 10px;" (click)="changeChartType('polarArea')">Polar</button>
			</div>
			<h2 style="text-align: center"> {{chartType}} chart </h2>

			<canvas baseChart width="400" height="400"
			        [datasets]="chartData"
			        [labels]="chartLabels"
			        [legend]="chartLegend"
			        [chartType]="chartType"></canvas>
		</div>
	</div>
</div>
